<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Food.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,2},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{10,10}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>Wall.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Nodes.png</string>
            <key>size</key>
            <string>{49,37}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3017edf103383f057935ca6bedad503c:c58d3f186c24fc56b4d10f1237516212:6a8e5268816b7e867ea7d5a7ff42dae4$</string>
            <key>textureFileName</key>
            <string>Nodes.png</string>
        </dict>
    </dict>
</plist>
